.body {
  align-content: center;
  background: url("../images/prism.png");
}

.container {
  background-color: #8D850E;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.mainRow {
  position: relative;
  width: 960px;
  background-color: #083B4D;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 5px 5px;


}

.searchColumn {
  float: left;
  left: 30px;
  top: 40px;
  min-height: 300px;
  height: auto;
  width: 100%;
  background-image: url("../images/prism.png");
  background-repeat: auto;
  border-style: solid;
  border-color: #330511;
  margin-bottom: 100px;
  overflow: auto;


}
.inputPrompt {
  color: #330511;
  font-weight: bold;
}

.titleDiv {
  text-align: center;
  margin: auto;
  width: 66%;
  background-color: #800020;
  color: #0A9BCC;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #0A9BCC;
}

.buttonsStyleDiv {
  position: absolute;
  margin-top: 10px;
  width: 90%;
  height: 40px;
  
}
#topicButtons {
  overflow: auto;
}

#newPokemonForm {
 
}

.pokemonGif {
  float: left;
  margin: 5px;
  margin-left: 45px;
  border-style: ridge;
  border-width: 15px;
  border-color: blue;
  border-radius: 18px;
  box-shadow: 10px 10px #0A9BCC;
  box-shadow: 10px 10px #0A9BCC inset;

  background-color: #0A9BCC;

}

#pokeDexGif {

  min-height: 500px;

}

.pokemon-btn {
  float: left;
  margin: 3px;
}

.directions {
  color: #330511;
}